<!DOCTYPE html>
<html lang="en" style="background-color: black; color: blueviolet;">
<head>
<title>
	Raport
</title>
</head>
	<body>
		<h1>
			Dodaj ksiazke:
		</h1>
		<form action="/add_book" method="GET">
			<input name="title" placeholder="Tytul" type = "text"><br>
			<input name="author" placeholder="Autor" type = "text"><br>
			<input name="pages" placeholder="Liczba stron" type = "text"><br>
			<input name="series" placeholder="Seria" type = "text"><br>
			<input name="part" placeholder="Czesc serii" type = "text"><br>
			<input name="StudentID" placeholder="ID ucznia" type = "text"><br>


			<input type="submit" value="Dodaj">
		</form>
	</body>
</html>
