<!DOCTYPE html>
<html lang="en" style="background-color: black; color: blueviolet;">
<head>
<title>
	Formularz
</title>
</head>
	<body>
		<h1>
			Dodaj ucznia:
		</h1>
		<form action="/add_student" method="GET">
			<input name="name" placeholder="Imie" type = "text"><br>
			<input name="surname" placeholder="Nazwisko" type = "text"><br>
			<input name="class" placeholder="Klasa" type = "text"><br>
			<input name="age" placeholder="Wiek" type = "text"><br>
			<input name="gender" placeholder="Plec" type = "text"><br>


			<input type="submit" value="Dodaj">
		</form>
	</body>
</html>
